.root {
  width: 40%;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.description {
  color: #545252;
}
.label {
  margin-bottom: 10px;
}
.valueText {
  color: #000066;
  font-weight: 600;
}
.code {
  margin: 10px 0;
  text-align: left;
}
.info {
  font-style: italic;
  color: #3131d4;
  font-size: 15px;
  margin: 5px 0;
}
.slider {
  height: 30px !important;
}
.sliderTrack {
  height: 5px !important;
  border: 1px solid #31da31 !important;
  background-color: white !important;
  top: 11px !important;
}
.sliderHandle {
  height: 30px !important;
  width: 30px !important;
  border: 1px solid #31da31 !important;
  background-color: #31da31 !important;
}
.sliderHandle:hover {
  background-color: white !important;
  border: 2px solid #2fa92f !important;
  box-shadow: 0px 0px 5px 0px #31da31 !important;
}
.sliderHandle:active {
  background-color: white !important;
  border: 2px solid #2fa92f !important;
  box-shadow: inset 0px 0px 5px 0px #31da31 !important;
}
.sliderHandle:focus {
  border: 2px solid #2fa92f !important;
}
