.root {
  margin: 50px 50px 100px 50px;
  display: flex;
  flex-direction: column;
  height: 900px;
  max-width: 100%;
  justify-content: space-between;
}
.headerSection {
  display: flex;
  justify-content: space-between;
}
.gitLink {
  width: 125px;
  height: 50px;
}
.container {
  width: 40%;
  padding: 20px;
  height: 50px;
  margin-top: 70px;
}
.label {
  margin-bottom: 10px;
}
.boldText {
  font-weight: 600;
}
.stateValue {
  margin-top: 5px;
}
.firstTrack {
  background-color: #ffcce6;
  border: 1px solid #ff0080;
}
.firstHighlightedTrack {
  background-color: #ff0080;
  border: 1px solid #ff0080;
}
.firstHandle {
  background-color: white;
  border: 1px solid #e60073;
  border-radius: 50%;
}
.firstHandle:focus {
  background-color: white;
  border: 1px solid #b30059;
}
.firstHandle:hover {
  box-shadow: 0px 0px 5px 0px #ff99cc;
}
.firstHandle:active {
  box-shadow: inset 0px 0px 5px 0px #ff99cc;
}
.secondTrack {
  background-color: white !important;
  border: 1px solid #37FDFC !important;
}
.secondHighlightedTrack {
  background-color: #37FDFC !important;
  border: 1px solid #37FDFC !important;
}
.secondHandle {
  background-color: white !important;
  border: 1px solid #37FDFC !important;
  border-radius: 20%;
  width: 30px;
  height: 30px;
}
.secondHandle:focus {
  background-color: white !important;
  border: 1px solid #00CDCD !important;
}
.secondHandle:hover {
  box-shadow: 0px 0px 7px 0px #37FDFC !important;
}
.secondHandle:active {
  box-shadow: inset 0px 0px 7px 0px #37FDFC !important;
}
.inputSection {
  margin-bottom: 10px;
}
.input {
  width: 100px;
  border: 1px solid lightgray;
  border-radius: 2px;
  height: 25px;
  margin: 0 20px 0 5px;
}
