.root {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  color: #545252;
}
.label {
  margin-bottom: 10px;
}
.valueText {
  color: #000066;
  font-weight: 600;
}
.code {
  margin: 10px 0;
  text-align: left;
}
.info {
  font-style: italic;
  color: #3131d4;
  font-size: 15px;
  margin: 5px 0;
}
.sliderWrapper {
  width: 75%;
}
.slider {
  height: 40px !important;
}
.sliderTrack {
  height: 5px !important;
  border: 1px solid #0ab5a7 !important;
  background-color: white !important;
  top: 12px !important;
}
.sliderHandle {
  height: 30px !important;
  width: 30px !important;
  border: 1px solid #0ab5a7 !important;
  background-color: #05f3df !important;
}
.sliderHandle:hover {
  background-color: white !important;
  border: 2px solid #0ab5a7 !important;
  box-shadow: 0px 0px 5px 0px #05f3df !important;
}
.sliderHandle:active {
  background-color: white !important;
  border: 2px solid #0ab5a7 !important;
  box-shadow: inset 0px 0px 5px 0px #05f3df !important;
}
.sliderHandle:focus {
  border: 2px solid #0ab5a7 !important;
}
.disabledSliderHandle {
  height: 30px !important;
  width: 30px !important;
  border: 1px solid #71e4db !important;
  background-color: #c4f9f4 !important;
}
