.root {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #fafafa;
  justify-content: space-between;
}
.header {
  background: #f1f1f1;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}
.title {
  color: #000066;
  font-size: 40px;
  font-family: cursive;
  font-weight: bolder;
}
.subTitle {
  color: #000066;
  font-size: 18px;
  font-family: inherit;
  margin-left: 5px;
}
.gitLink {
  width: 125px;
  height: 50px;
}
.featureSection{
  margin: 20px auto;
  width: 500px;
}
.featureText {
  font-size: 25px;
  font-family: cursive;
  text-align: center;
  font-weight: bold;
}
.list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-family: cursive;
  line-height: 2;
}
.examples {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  padding: 25px;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-family: cursive;
}
.link {
  font-weight: bold;
  font-weight: bolder;
}
.code {
  margin-left: 25px;
}
