.handle {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.handle:focus {
  outline: none;
}

.default {
  background-color: #FAFAFA;
  border: 1px solid #E9E9E9;
  border-radius: 50%;
}

.default:focus {
  outline: none;
  border: 1px solid #999999;
}

.default:hover {
  background-color: white;
  border: 1px solid #E6E6E6;
  box-shadow: 0px 0px 5px 0px #f2f2f2;
}

.default:active {
  background-color: white;
  border: 1px solid #E6E6E6;
  box-shadow: inset 0px 0px 5px 0px #f2f2f2;
}
